<ion-header>
  <ion-navbar>
    <ion-title >
      myMessAdmin (Beta)
    </ion-title>
  </ion-navbar>
</ion-header>
  
  <ion-content padding>
    <ion-list inset>
      <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>        
        <ion-label stacked>Owner Name</ion-label>
        <ion-item>
          <ion-input formControlName="fullName" type="text"></ion-input>
        </ion-item>
        <p *ngIf="!signupForm.controls.fullName.valid  && signupForm.controls.fullName.dirty">
          Enter a valid name (min. 5 characters)
        </p>

        <ion-label stacked>Mess Name</ion-label>
        <ion-item>
          <ion-input formControlName="messName" type="text"></ion-input>
        </ion-item>
        <p *ngIf="!signupForm.controls.messName.valid  && signupForm.controls.messName.dirty">
          Enter a valid mess name (min. 5 characters)
        </p>        
        
        <ion-label stacked>Email</ion-label>
        <ion-item>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <p *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
          Enter a valid email id
        </p>
               
        <ion-label Stacked>Password</ion-label>
        <ion-item>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <p *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
          Weak password (min. 6 characters)
        </p>
                
        <ion-label stacked>Mobile Number</ion-label>
        <ion-item>
          <ion-input formControlName="contact" type="number"></ion-input>
        </ion-item>
        <p *ngIf="!signupForm.controls.contact.valid  && signupForm.controls.contact.dirty">
          Enter a valid 10 digits mobile number
        </p>

        <ion-label stacked>Address</ion-label>
        <ion-item>
          <ion-textarea formControlName="address" type="text"></ion-textarea>
        </ion-item>
        
        <ion-label stacked>City</ion-label>
        <ion-item>
          <ion-input formControlName="city" type="text"></ion-input>
        </ion-item>
        <p *ngIf="!signupForm.controls.city.valid  && signupForm.controls.city.dirty">
          City is required
        </p>    
        <button ion-button margin-top block type="submit" [disabled]="!signupForm.valid">Create Account</button>      
      </form>
    </ion-list>
  </ion-content>